.yellow{
	background-color: #C7F83E;
}
.green{
	background-color: #C5C7CA;
}
.marginLess{
	padding-left:0;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
}
.cells{
	overflow-x: scroll;
	overflow-y: hidden;
    white-space:nowrap;
    background-color: #F7F7F7;
}
.headerCell{
	text-align: center;
	width: 4%;
	display: inline-block;
}
.bordered{
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
}
.cell{
	height: 50px;
	width: 4%;
	display: inline-block;
}
.cell:hover{
	background-color: #DFDFDF;
}
.tableRow{
	height: 50px;
}
.catOptions{
	background-color: #EFFFFF;	
}
.event{
    display: table-row;
    width: 100%;
    font-size: 10px;
}
.event:hover{
	border: 2px solid #080E73;
}
.menuPanel{
	background-color: #C5C7CA;
	border: 1px solid grey;
}
.buttonGroup{
	float: right;
}
.typeItems{
	width: 10%;
}